@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-R.ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./fonts/UbuntuMono-R.ttf');
}

@font-face {
  font-family: 'Source Han Sans';
  src: url('./fonts/SourceHanSansSC-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Han Sans';
  src: url('./fonts/SourceHanSansSC-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('./fonts/SourceHanSerifSC-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('./fonts/SourceHanSerifSC-Medium.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Latin Morden Math';
  src: url('./fonts/latinmodern-math.otf');
}

@font-face {
  font-family: '方正仿宋';
  src: url('./fonts/FZFSJW.TTF');
}

@font-face {
  font-family: '方正楷体';
  src: url('./fonts/FZKTJW.TTF');
}

body {
  font-family: 'Ubuntu', 'Source Han Serif';
}

th {
  font-family: 'Ubuntu', 'Source Han Sans' !important;
}

.empasis {
  text-emphasis: dot;
  text-emphasis-position: under;
  font-style: normal;
}

.wave {
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.underline {
  text-decoration-line: underline;
}

.double-underline {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.quote {
  font-family: '方正楷体' !important;
}

code {
  font-family: 'Menlo', 'Monaco', 'JetBrains Mono', 'Ubuntu Mono',
    'Source Han Sans';
}

.description {
  font-family: '方正仿宋';
}

@media print {
  body {
    font-family: 'Ubuntu', 'Source Han Serif';
  }

  td {
    font-family: 'Source Han Serif SC' !important;
  }
}
