/* @import './base.css'; */
@media print {
  .print-invisible {
    display: none;
  }

  .print-visible {
    display: block;
  }

  .divider_top {
    break-before: page !important;
    page-break-before: always !important;
  }

  .saparation {
    break-before: page !important;
    page-break-before: always !important;
  }

  table {
    table-layout: fixed !important;
    border-collapse: collapse !important;
  }

  th {
    color: #000000 !important;
    font-weight: bold;
  }

  td {
    font-family: 'Times New Roman', '宋体';
    border: 0.3px solid #000000 !important;
  }

  th {
    font-family: 'Times New Roman', '黑体';
  }

  .content {
    font-family: 'Times New Roman', '宋体';
  }

  .origin {
    font-family: 'Times New Roman', '微软雅黑';
  }

  .infor {
    display: none !important;
  }

  body {
    line-height: 2
  }
}
